{% load static %}
<!DOCTYPE html>
<html style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
	<!--Мета тег viewport отвечает за "оптимизацию" под разные размеры устройства.
		Мета тег X-UA-Compatible отвечает за браузеры Microsoft IE8 IE9 IE10 IE11...-->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Pheonix</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta content="telephone=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="" name="author">
	<meta content="" name="keywords">
	<meta content="" name="description">
	
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
	
	<link href="{% static 'main_files/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'main_files/main.css' %}" rel="stylesheet">
	<link href="{% static 'main_files/swiper-bundle.min.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="">
	<link href="{% static 'main_files/css2.css' %}" rel="stylesheet">
	<script src="{% static 'main_files/modernizr.js' %}"></script>
</head>

<body data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" data-bs-spy="scroll" data-bs-target="#navbar" tabindex="0">
	<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
		<!--<symbol> используется для повторно используемых элементов.-->
		<symbol id="search" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
			<title>Искать</title>
			<path d="M19 3C13.488 3 9 7.488 9 13c0 2.395.84 4.59 2.25 6.313L3.281 27.28l1.439 1.44l7.968-7.969A9.922 9.922 0 0 0 19 23c5.512 0 10-4.488 10-10S24.512 3 19 3zm0 2c4.43 0 8 3.57 8 8s-3.57 8-8 8s-8-3.57-8-8s3.57-8 8-8z" fill="currentColor"></path>
		</symbol>
		<symbol id="user" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
		</symbol>
		<symbol id="cart" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
		</symbol>
		<svg xmlns="http://www.w3.org/2000/svg" id="chevron-left" viewBox="0 0 16 16">
			<path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" fill-rule="evenodd"></path>
		</svg>
		<symbol id="chevron-right" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" fill-rule="evenodd"></path>
		</symbol>
		<symbol id="cart-outline" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
		</symbol>
		<symbol id="quality" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"></path>
			<path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path>
		</symbol>
		<symbol id="price-tag" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"></path>
			<path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"></path>
		</symbol>
		<symbol id="shield-plus" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"></path>
			<path d="M8 4.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V9a.5.5 0 0 1-1 0V7.5H6a.5.5 0 0 1 0-1h1.5V5a.5.5 0 0 1 .5-.5z"></path>
		</symbol>
		<symbol id="star-fill" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
		</symbol>
		<symbol id="star-empty" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
		</symbol>
		<symbol id="star-half" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"></path>
		</symbol>
		<symbol id="quote" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
			<path d="m15 17l2-4h-4V6h7v7l-2 4h-3Zm-9 0l2-4H4V6h7v7l-2 4H6Z" fill="currentColor"></path>
		</symbol>
		<symbol id="facebook" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
			<path d="M9.198 21.5h4v-8.01h3.604l.396-3.98h-4V7.5a1 1 0 0 1 1-1h3v-4h-3a5 5 0 0 0-5 5v2.01h-2l-.396 3.98h2.396v8.01Z" fill="currentColor"></path>
		</symbol>
		<symbol id="youtube" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
			<path d="M29.41 9.26a3.5 3.5 0 0 0-2.47-2.47C24.76 6.2 16 6.2 16 6.2s-8.76 0-10.94.59a3.5 3.5 0 0 0-2.47 2.47A36.13 36.13 0 0 0 2 16a36.13 36.13 0 0 0 .59 6.74a3.5 3.5 0 0 0 2.47 2.47c2.18.59 10.94.59 10.94.59s8.76 0 10.94-.59a3.5 3.5 0 0 0 2.47-2.47A36.13 36.13 0 0 0 30 16a36.13 36.13 0 0 0-.59-6.74ZM13.2 20.2v-8.4l7.27 4.2Z" fill="currentColor"></path>
		</symbol>
		<symbol id="twitter" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
			<path d="m245.66 77.66l-29.9 29.9C209.72 177.58 150.67 232 80 232c-14.52 0-26.49-2.3-35.58-6.84c-7.33-3.67-10.33-7.6-11.08-8.72a8 8 0 0 1 3.85-11.93c.26-.1 24.24-9.31 39.47-26.84a110.93 110.93 0 0 1-21.88-24.2c-12.4-18.41-26.28-50.39-22-98.18a8 8 0 0 1 13.65-4.92c.35.35 33.28 33.1 73.54 43.72V88a47.87 47.87 0 0 1 14.36-34.3A46.87 46.87 0 0 1 168.1 40a48.66 48.66 0 0 1 41.47 24H240a8 8 0 0 1 5.66 13.66Z" fill="currentColor"></path>
		</symbol>
		<symbol id="instagram" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
			<path d="M128 80a48 48 0 1 0 48 48a48.05 48.05 0 0 0-48-48Zm0 80a32 32 0 1 1 32-32a32 32 0 0 1-32 32Zm48-136H80a56.06 56.06 0 0 0-56 56v96a56.06 56.06 0 0 0 56 56h96a56.06 56.06 0 0 0 56-56V80a56.06 56.06 0 0 0-56-56Zm40 152a40 40 0 0 1-40 40H80a40 40 0 0 1-40-40V80a40 40 0 0 1 40-40h96a40 40 0 0 1 40 40ZM192 76a12 12 0 1 1-12-12a12 12 0 0 1 12 12Z" fill="currentColor"></path>
		</symbol>
		<symbol id="nav-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"></path>
		</symbol>
		<symbol id="close" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
		</symbol>
		<symbol id="navbar-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"></path>
		</symbol>
	</svg>
	<div class="search-popup">
		<div class="search-popup-container">
			<form class="search-form" action="" role="search">
				<input class="search-field" name="s" placeholder="Type and press enter" type="search" id="search-form">
				<button class="search-submit" type="submit">
					<svg class="search">
						<use xlink:href="#search"></use>
					</svg>
				</button>
			</form>
		</div>
	</div>
	<header class="bg-light header-scrolled position-fixed site-header text-black" id="header">
		<nav class="mb-3 navbar navbar-expand-lg px-3" id="header-nav">
			<div class="container-fluid">
				<a href="/" class="navbar-brand"><img src="{% static 'main_files/phoenix3.png' %}" class="logo" height="56"> </a>
				<button class="d-flex d-lg-none navbar-toggler order-3 p-2" type="button" aria-label="Toggle navigation" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" data-bs-toggle="offcanvas">
					<svg class="navbar-icon">
						<use xlink:href="#navbar-icon"></use>
					</svg>
				</button>
				<div class="offcanvas offcanvas-end" aria-labelledby="bdNavbarOffcanvasLabel" id="bdNavbar" tabindex="-1">
					<div class="offcanvas-header pb-0 px-4">
						<a href="/" class="navbar-brand"></a>
						<button class="btn-close btn-close-black" type="button" aria-label="Close" data-bs-target="#bdNavbar" data-bs-dismiss="offcanvas"></button>
					</div>
					<div class="offcanvas-body">
						<ul class="align-items-center flex-grow-1 justify-content-end navbar-nav pe-3" id="navbar">
							<li class="nav-item"><a href="/catalog" class="me-4 nav-link">Каталог</a> </li> <i class="nav-item">
								<div class="ps-5 user-items">
								<ul class="d-flex list-unstyled justify-content-end">
									<li class="pe-3 search-item">
									<a href="#" class="search-button">
									<svg class="search">
									<use xlink:href="#search">
									</use>
									</svg>
									</a>
									</li>
									<li class="pe-3">
									<a href="#">
									<svg class="user">
									<use xlink:href="#user">
									</use>
									</svg>
									</a>
									</li>
									<li><a href="file:///home/erduha/Desktop/aituc_po2201/cart.html"><svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.78571 5H18.2251C19.5903 5 20.5542 6.33739 20.1225 7.63246L18.4558 12.6325C18.1836 13.4491 17.4193 14 16.5585 14H6.07142M4.78571 5L4.74531 4.71716C4.60455 3.73186 3.76071 3 2.76541 3H2M4.78571 5L6.07142 14M6.07142 14L6.25469 15.2828C6.39545 16.2681 7.23929 17 8.23459 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM11 19C11 20.1046 10.1046 21 9 21C7.89543 21 7 20.1046 7 19C7 17.8954 7.89543 17 9 17C10.1046 17 11 17.8954 11 19Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></li></ul></div></i></ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<section class="position-relative overflow-hidden bg-light-blue" id="billboard">
		<div class="swiper main-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
			<div class="swiper-wrapper" id="swiper-wrapper-88cd21e94c8538cd" aria-live="polite">
				<div class="swiper-slide swiper-slide-active" style="width: 1634px;" role="group" aria-label="1 / 2">
					<div class="container">
						<div class="d-flex row align-items-center">
							<div class="col-md-6">
								<div class="banner-content">
									<h1 class="text-uppercase text-dark display-2 pb-5">Магазин техники</h1><a href="/catalog/" class="text-uppercase btn btn-medium btn-rounded-none btn-dark">Ассортимент</a></div>
							</div>
							<div class="col-md-5">
								<div class="image-holder"><img src="{% static 'main_files/pngegg.png' %}" alt="banner" height="800"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide swiper-slide-next" style="width: 1634px;" role="group" aria-label="2 / 2">
					<div class="container">
						<div class="d-flex flex-wrap row align-items-center">
							<div class="col-md-6">
								<div class="banner-content">
									<h1 class="text-uppercase text-dark display-2 pb-5">Новые технологии</h1><a href="/catalog/" class="text-uppercase btn btn-medium btn-rounded-none btn-dark">Ассортимент</a></div>
							</div>
							<div class="col-md-5">
								<div class="image-holder"><img src="{% static 'main_files/world.png' %}" alt="banner" height="600">
									<div class="swiper-arrow swiper-icon swiper-arrow-prev" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-ec1774c86f7d35cd" aria-disabled="false"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-arrow swiper-icon swiper-arrow-prev" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-ec1774c86f7d35cd" aria-disabled="false">
				<svg class="chevron-left">
					<use xlink:href="#chevron-left"></use>
				</svg>
			</div>
			<div class="swiper-arrow swiper-icon swiper-arrow-next" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-ec1774c86f7d35cd" aria-disabled="true">
				<svg class="chevron-right">
					<use xlink:href="#chevron-right"></use>
				</svg>
			</div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
	</section>
	<section class="padding-large" id="company-services">
		<div class="container">
			<div class="row">
				<div class="pb-3 col-lg-3 col-md-6">
					<div class="d-flex icon-box">
						<div class="pb-3 icon-box-icon pe-3">
							<svg class="cart-outline">
								<use xlink:href="#cart-outline"></use>
							</svg>
						</div>
						<div class="icon-box-content">
							<h3 class="text-uppercase card-title text-dark">Бесплатная доставка</h3>
							<p>Бесплатная доставка, независимо от района.</p>
						</div>
					</div>
				</div>
				<div class="pb-3 col-lg-3 col-md-6">
					<div class="d-flex icon-box">
						<div class="pb-3 icon-box-icon pe-3">
							<svg class="quality">
								<use xlink:href="#quality"></use>
							</svg>
						</div>
						<div class="icon-box-content">
							<h3 class="text-uppercase card-title text-dark">Высокое качество</h3>
							<p>У нас только оригинальная продукция.</p>
						</div>
					</div>
				</div>
				<div class="pb-3 col-lg-3 col-md-6">
					<div class="d-flex icon-box">
						<div class="pb-3 icon-box-icon pe-3">
							<svg class="price-tag">
								<use xlink:href="#price-tag"></use>
							</svg>
						</div>
						<div class="icon-box-content">
							<h3 class="text-uppercase card-title text-dark">Дневные предложения</h3>
							<p>Каждый день мы предлагаем разные интересные выгодные предложения.</p>
						</div>
					</div>
				</div>
				<div class="pb-3 col-lg-3 col-md-6">
					<div class="d-flex icon-box">
						<div class="pb-3 icon-box-icon pe-3">
							<svg class="shield-plus">
								<use xlink:href="#shield-plus"></use>
							</svg>
						</div>
						<div class="icon-box-content">
							<h3 class="text-uppercase card-title text-dark">100% Гарантии</h3>
							<p>Мы предоставляем вам гарантии.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="position-relative padding-large product-store no-padding-top" id="mobile-products">
		<div class="container">
			<div class="row">
				<div class="d-flex justify-content-between display-header pb-3">
					<h2 class="text-uppercase text-dark display-7">Смартфоны</h2>
					<div class="btn-right"><a href="shop.html" class="text-uppercase btn btn-medium btn-normal">За покупками</a></div>
				</div>
				<div class="swiper product-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
					<div class="swiper-wrapper" id="swiper-wrapper-2f9293a9be995b84" aria-live="polite">
						<div class="swiper-slide swiper-slide-active" style="width: 315px; margin-right: 20px;" role="group" aria-label="1 / 5">
							<div class="position-relative product-card">
								<div class="image-holder"><img src="{% static 'main_files/product-item1.jpg' %}" alt="product-item" class="img-fluid"></div>
								<div class="position-absolute cart-concern">
									<div class="d-flex cart-button"><a href="#" class="btn btn-medium btn-black">Добавить карту<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a></div>
								</div>
								<div class="d-flex justify-content-between card-detail pt-3 align-items-baseline">
									<h3 class="text-uppercase card-title"><a href="#">Iphone 10</a></h3><span class="item-price text-primary">$980</span></div>
							</div>
						</div>
						<div class="swiper-slide swiper-slide-next" style="width: 315px; margin-right: 20px;" role="group" aria-label="2 / 5">
							<div class="position-relative product-card">
								<div class="image-holder"><img src="{% static 'main_files/product-item2.jpg' %}" alt="product-item" class="img-fluid"></div>
								<div class="position-absolute cart-concern">
									<div class="d-flex cart-button"><a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a></div>
								</div>
								<div class="d-flex justify-content-between card-detail pt-3 align-items-baseline">
									<h3 class="text-uppercase card-title"><a href="#">Iphone 11</a></h3><span class="item-price text-primary">$1100</span></div>
							</div>
						</div>
						<div class="swiper-slide" style="width: 315px; margin-right: 20px;" role="group" aria-label="3 / 5">
							<div class="position-relative product-card">
								<div class="image-holder"><img src="{% static 'main_files/product-item3.jpg' %}" alt="product-item" class="img-fluid"></div>
								<div class="position-absolute cart-concern">
									<div class="d-flex cart-button"><a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a></div>
								</div>
								<div class="d-flex justify-content-between card-detail pt-3 align-items-baseline">
									<h3 class="text-uppercase card-title"><a href="#">Iphone 8</a></h3><span class="item-price text-primary">$780</span></div>
							</div>
						</div>
						<div class="swiper-slide" style="width: 315px; margin-right: 20px;" role="group" aria-label="4 / 5">
							<div class="position-relative product-card">
								<div class="image-holder"><img src="{% static 'main_files/product-item4.jpg' %}" alt="product-item" class="img-fluid"></div>
								<div class="position-absolute cart-concern">
									<div class="d-flex cart-button"><a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a></div>
								</div>
								<div class="d-flex justify-content-between card-detail pt-3 align-items-baseline">
									<h3 class="text-uppercase card-title"><a href="#">Iphone 13</a></h3><span class="item-price text-primary">$1500</span></div>
							</div>
						</div>
						<div class="swiper-slide" style="width: 315px; margin-right: 20px;" role="group" aria-label="5 / 5">
							<div class="position-relative product-card">
								<div class="image-holder"><img src="{% static 'main_files/product-item5.jpg' %}" alt="product-item" class="img-fluid"></div>
								<div class="position-absolute cart-concern">
									<div class="d-flex cart-button"><a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a></div>
								</div>
								<div class="d-flex justify-content-between card-detail pt-3 align-items-baseline">
									<h3 class="text-uppercase card-title"><a href="#">Iphone 12</a></h3><span class="item-price text-primary">$1300</span></div>
							</div>
						</div>
					</div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
			</div>
		</div>
		<div class="position-absolute swiper-pagination text-center swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>
	</section>
	<section class="position-relative padding-large product-store" id="smart-watches">
		<div class="container">
			<div class="row">
				<div class="d-flex justify-content-between display-header pb-3">
					<h2 class="text-uppercase text-dark display-7">Смарт Часы</h2>
					<div class="btn-right"><a href="shop.html" class="text-uppercase btn btn-medium btn-normal">За покупками</a></div>
				</div>
				<div class="swiper product-watch-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
					<div class="swiper-wrapper" id="swiper-wrapper-f39cb10c4399887e0" aria-live="polite">
						<div class="swiper-slide swiper-slide-active" style="width: 315px; margin-right: 20px;" role="group" aria-label="1 / 5">
							<div class="position-relative product-card">
								<div class="image-holder"><img src="{% static 'main_files/product-item6.jpg' %}" alt="product-item" class="img-fluid"></div>
								<div class="position-absolute cart-concern">
									<div class="d-flex cart-button"><a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a></div>
								</div>
								<div class="d-flex justify-content-between card-detail pt-3 align-items-baseline">
									<h3 class="text-uppercase card-title"><a href="#">Pink watch</a></h3><span class="item-price text-primary">$870</span></div>
							</div>
						</div>
						<div class="swiper-slide swiper-slide-next" style="width: 315px; margin-right: 20px;" role="group" aria-label="2 / 5">
							<div class="position-relative product-card">
								<div class="image-holder"><img src="{% static 'main_files/product-item7.jpg' %}" alt="product-item" class="img-fluid"></div>
								<div class="position-absolute cart-concern">
									<div class="d-flex cart-button"><a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a></div>
								</div>
								<div class="d-flex justify-content-between card-detail pt-3 align-items-baseline">
									<h3 class="text-uppercase card-title"><a href="#">Heavy watch</a></h3><span class="item-price text-primary">$680</span></div>
							</div>
						</div>
						<div class="swiper-slide" style="width: 315px; margin-right: 20px;" role="group" aria-label="3 / 5">
							<div class="position-relative product-card">
								<div class="image-holder"><img src="{% static 'main_files/product-item8.jpg' %}" alt="product-item" class="img-fluid"></div>
								<div class="position-absolute cart-concern">
									<div class="d-flex cart-button"><a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a></div>
								</div>
								<div class="d-flex justify-content-between card-detail pt-3 align-items-baseline">
									<h3 class="text-uppercase card-title"><a href="#">spotted watch</a></h3><span class="item-price text-primary">$750</span></div>
							</div>
						</div>
						<div class="swiper-slide" style="width: 315px; margin-right: 20px;" role="group" aria-label="4 / 5">
							<div class="position-relative product-card">
								<div class="image-holder"><img src="{% static 'main_files/product-item9.jpg' %}" alt="product-item" class="img-fluid"></div>
								<div class="position-absolute cart-concern">
									<div class="d-flex cart-button"><a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a></div>
								</div>
								<div class="d-flex justify-content-between card-detail pt-3 align-items-baseline">
									<h3 class="text-uppercase card-title"><a href="#">black watch</a></h3><span class="item-price text-primary">$650</span></div>
							</div>
						</div>
						<div class="swiper-slide" style="width: 315px; margin-right: 20px;" role="group" aria-label="5 / 5">
							<div class="position-relative product-card">
								<div class="image-holder"><img src="{% static 'main_files/product-item10.jpg' %}" alt="product-item" class="img-fluid"></div>
								<div class="position-absolute cart-concern">
									<div class="d-flex cart-button"><a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a></div>
								</div>
								<div class="d-flex justify-content-between card-detail pt-3">
									<h3 class="text-uppercase card-title"><a href="#">black watch</a></h3><span class="item-price text-primary">$750</span></div>
							</div>
						</div>
					</div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
			</div>
		</div>
		<div class="position-absolute swiper-pagination text-center swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>
	</section>
	<section class="overflow-hidden bg-light-blue mt-5 padding-xlarge" id="yearly-sale" style="background-image:url(images/single-image1.png);background-position:right;background-repeat:no-repeat">
		<div class="d-flex flex-wrap row align-items-center">
			<div class="col-md-6 col-sm-12">
				<div class="padding-medium offset-4 text-content">
					<h3>30%</h3>
					<h2 class="text-uppercase text-dark display-2 pb-5">Новые скидки</h2><a href="/catalog/" class="text-uppercase btn btn-medium btn-rounded-none btn-dark">За покупками</a></div>
			</div>
			<div class="col-md-6 col-sm-12"></div>
		</div>
	</section>
	<section class="padding-large" id="latest-blog">
		<div class="container">
			<div class="row">
				<div class="d-flex justify-content-between display-header pb-3">
					<h2 class="text-uppercase text-dark display-7">Последние публикации</h2>
					<div class="btn-right"><a href="blog.html" class="text-uppercase btn btn-medium btn-normal">Читать блог</a></div>
				</div>
				<div class="d-flex justify-content-between flex-wrap post-grid">
					<div class="col-sm-12 col-lg-4">
						<div class="border-none card me-3">
							<div class="card-image"><img src="{% static 'main_files/post-item1.jpg' %}" alt="" class="img-fluid"></div>
						</div>
						<div class="text-uppercase card-body">
							<div class="card-meta text-muted"><span class="meta-date">Апр 24, 2023</span> <span class="meta-category">- Гаджеты</span></div>
							<h3 class="card-title"><a href="#">Интересные гаджеты 2023 года</a></h3></div>
					</div>
					<div class="col-sm-12 col-lg-4">
						<div class="border-none card me-3">
							<div class="card-image"><img src="{% static 'main_files/post-item2.jpg' %}" alt="" class="img-fluid"></div>
						</div>
						<div class="text-uppercase card-body">
							<div class="card-meta text-muted"><span class="meta-date">Апр 24, 2023</span> <span class="meta-category">- Технологии</span></div>
							<h3 class="card-title"><a href="#">Технологии</a></h3></div>
					</div>
					<div class="col-sm-12 col-lg-4">
						<div class="border-none card me-3">
							<div class="card-image"><img src="{% static 'main_files/post-item3.jpg' %}" alt="" class="img-fluid"></div>
						</div>
						<div class="text-uppercase card-body">
							<div class="card-meta text-muted"><span class="meta-date">Апр 24, 2023</span> <span class="meta-category">- Камеры</span></div>
							<h3 class="card-title"><a href="#">Топ 10 лучших камер до 200$</a></h3></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="position-relative" id="testimonials">
		<div class="container">
			<div class="row">
				<div class="position-relative review-content">
					<div class="d-flex position-absolute align-items-center swiper-arrow swiper-icon swiper-arrow-prev" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-ec1774c86f7d35cd" aria-disabled="false">
						<svg class="chevron-left">
							<use xlink:href="#chevron-left"></use>
						</svg>
					</div>
					<div class="swiper testimonial-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
						<div class="quotation text-center">
							<svg class="quote">
								<use xlink:href="#quote"></use>
							</svg>
						</div>
						<div class="swiper-wrapper" id="swiper-wrapper-ec1774c86f7d35cd" aria-live="polite">
							<div class="d-flex justify-content-center swiper-slide text-center swiper-slide-active" style="width: 1296px;" role="group" aria-label="1 / 2" data-swiper-slide-index="0">
								<div class="col-md-10 review-item"><i class="icon icon-review"></i>
									<blockquote>“Хочу поделиться своими впечатлениями о технике. Сначала я долго выбирал себе пылесос, читал отзывы, смотрел обзоры. Пылесосы бывают разные и по цене и по характеристикам. Поэтому я решил, что буду брать технику в интернете. Нашел хороший интернет магазин, почитал отзывы. Потом выбрал пылесос и заказал его. Привезли в оговоренное время. Доставили мне в целости и сохранности. Сам пылесос работает отлично. Качество хорошее, мне все нравится спасибо феникс магазину.”</blockquote>
									<div class="rating">
										<svg class="star star-fill">
											<use xlink:href="#star-fill"></use>
										</svg>
										<svg class="star star-fill">
											<use xlink:href="#star-fill"></use>
										</svg>
										<svg class="star star-fill">
											<use xlink:href="#star-fill"></use>
										</svg>
										<svg class="star star-half">
											<use xlink:href="#star-half"></use>
										</svg>
										<svg class="star star-empty">
											<use xlink:href="#star-empty"></use>
										</svg>
									</div>
									<div class="author-detail">
										<div class="text-uppercase text-dark name pt-2">Асхат Оразов</div>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-center swiper-slide text-center swiper-slide-next" style="width: 1296px;" role="group" aria-label="2 / 2" data-swiper-slide-index="1">
								<div class="col-md-10 review-item"><i class="icon icon-review"></i>
									<blockquote>“Очень удобен в использовании, простой дизайн, хороший экран, звук громкий, камера для меня хорошая. В общем телефоном я довольна. Если нужен хороший телефон, то советую купить именно этот. Недостатки: 1. Нет ни одной кнопки на корпусе 2. Нет вибрации. Комментарий: Мне телефон очень нравится. Отличный смартфон за свои деньги. Рекомендую данный магазин.”</blockquote>
									<div class="rating">
										<svg class="star star-fill">
											<use xlink:href="#star-fill"></use>
										</svg>
										<svg class="star star-fill">
											<use xlink:href="#star-fill"></use>
										</svg>
										<svg class="star star-fill">
											<use xlink:href="#star-fill"></use>
										</svg>
										<svg class="star star-half">
											<use xlink:href="#star-half"></use>
										</svg>
										<svg class="star star-empty">
											<use xlink:href="#star-empty"></use>
										</svg>
									</div>
									<div class="author-detail">
										<div class="text-uppercase text-dark name pt-2">Ерсултан Садибекулы</div>
									</div>
								</div>
							</div>
						</div> <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
					<div class="d-flex position-absolute align-items-center swiper-arrow swiper-icon swiper-arrow-next" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-ec1774c86f7d35cd">
						<svg class="chevron-right">
							<use xlink:href="#chevron-right"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</section>
	<section class="position-relative padding-large container-grid overflow-hidden" id="subscribe">
		<div class="container">
			<div class="row">
				<div class="d-flex justify-content-center align-items-center bg-dark flex-wrap padding-medium subscribe-content">
					<div class="col-md-6 col-sm-12">
						<div class="pe-3 display-header">
							<h2 class="text-uppercase display-7 text-light">Подпишитесь на нас</h2>
							<p>Получайте последние новости, обновления и специальные предложения непосредственно на свой почтовый ящик.</p>
						</div>
					</div>
					<div class="col-sm-12 col-md-5">
						<form class="subscription-form validate">
							<div class="input-group flex-wrap">
								<input class="form-control btn-rounded-none" name="EMAIL" placeholder="Your email address here" type="email" required="">
								<button class="text-uppercase btn btn-medium btn-rounded-none btn-primary" type="submit" name="subscribe">Subscribe</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="padding-large no-padding-top overflow-hidden" id="instagram">
		<div class="container">
			<div class="row">
				<div class="text-uppercase text-dark display-header pb-3 text-center">
					<h2 class="display-7">Покупайте в Инстаграмме</h2></div>
				<div class="d-flex flex-wrap">
					<figure class="instagram-item pe-2">
						<a href="https://www.instagram.com/astana_it_college/" class="position-relative image-link"><img src="{% static 'main_files/insta-item1.jpg' %}" alt="instagram" class="insta-image">
							<div class="d-flex justify-content-center icon-overlay position-absolute">
								<svg class="instagram">
									<use xlink:href="#instagram"></use>
								</svg>
							</div>
						</a>
					</figure>
					<figure class="instagram-item pe-2">
						<a href="https://www.instagram.com/astana_it_college/" class="position-relative image-link"><img src="{% static 'main_files/insta-item2.jpg' %}" alt="instagram" class="insta-image">
							<div class="d-flex justify-content-center icon-overlay position-absolute">
								<svg class="instagram">
									<use xlink:href="#instagram"></use>
								</svg>
							</div>
						</a>
					</figure>
					<figure class="instagram-item pe-2">
						<a href="https://www.instagram.com/astana_it_college/" class="position-relative image-link"><img src="{% static 'main_files/insta-item3.jpg' %}" alt="instagram" class="insta-image">
							<div class="d-flex justify-content-center icon-overlay position-absolute">
								<svg class="instagram">
									<use xlink:href="#instagram"></use>
								</svg>
							</div>
						</a>
					</figure>
					<figure class="instagram-item pe-2">
						<a href="https://www.instagram.com/astana_it_college/" class="position-relative image-link"><img src="{% static 'main_files/insta-item4.jpg' %}" alt="instagram" class="insta-image">
							<div class="d-flex justify-content-center icon-overlay position-absolute">
								<svg class="instagram">
									<use xlink:href="#instagram"></use>
								</svg>
							</div>
						</a>
					</figure>
					<figure class="instagram-item pe-2">
						<a href="https://www.instagram.com/astana_it_college/" class="position-relative image-link"><img src="{% static 'main_files/insta-item5.jpg' %}" alt="instagram" class="insta-image">
							<div class="d-flex justify-content-center icon-overlay position-absolute">
								<svg class="instagram">
									<use xlink:href="#instagram"></use>
								</svg>
							</div>
						</a>
					</figure>
				</div>
			</div>
		</div>
	</section>
	<footer class="overflow-hidden" id="footer">
		<div class="container">
			<div class="row">
				<div class="footer-top-area">
					<div class="d-flex justify-content-between flex-wrap row">
						<div class="pb-3 col-lg-3 col-sm-6">
							<div class="footer-menu">
								<a href="http://127.0.0.1:5500/index.html"><img src="{% static 'main_files/phoenix.png' %}" alt="logo" height="80"></a>
								<div class="social-links">
									<ul class="d-flex list-unstyled">
										<li>
											<a href="#">
												<svg class="facebook">
													<use xlink:href="#facebook"></use>
												</svg>
											</a>
										</li>
										<li>
											<a href="#">
												<svg class="instagram">
													<use xlink:href="#instagram"></use>
												</svg>
											</a>
										</li>
										<li>
											<a href="#">
												<svg class="twitter">
													<use xlink:href="#twitter"></use>
												</svg>
											</a>
										</li>
										<li>
											<a href="#">
												<svg class="youtube">
													<use xlink:href="#youtube"></use>
												</svg>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="pb-3 col-sm-6 col-lg-2">
							<div class="text-uppercase footer-menu">
								<h5 class="pb-2 widget-title">Быстрые ссылки</h5>
								<ul class="text-uppercase list-unstyled menu-list">
									<li class="pb-2 menu-item"><a href="/">Дом</a> </li>
									<li class="pb-2 menu-item"><a href="/catalog">Магазин</a> </li>
								</ul>
							</div>
						</div>
						<div class="pb-3 col-lg-3 col-sm-6">
								<div class="footer-menu contact-item">
									<h5 class="text-uppercase pb-2 widget-title">Контакты</h5>
									<p>У вас остались вопросы? <a href="mailto:theerden.kenzhebaev.2006@gmail.com">theerden.kenzhebaev.2006@gmail.com</a>
										</p><p>Нужна помощь?&nbsp; Напишите нам.
											<br><a href="https://wa.link/9u28r2">+7 701 227 1428</a></p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr> </footer>
	<div class="container">
		<div class="d-flex justify-content-between flex-wrap row">
			<div class="col-sm-6 col-md-4">
				<div class="d-flex Shipping">
					<div class="col-sm-6 col-md-4">
						<div class="d-flex payment-method">
							<div class="card-wrap ps-2"></div>
						</div>
					</div>
					<p>© 2023 Made by Phoenix Team</p>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'main_files/jquery-1.11.0.min.js' %}"></script>
	<script src="{% static 'main_files/swiper-bundle.min.js' %}"></script>
	<script src="{% static 'main_files/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'main_files/plugins.js' %}"></script>
	<script src="{% static 'main_files/script.js' %}"></script>
</body>

</html>
